= form_for @privacy_policy do |f|
  - if @privacy_policy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@privacy_policy.errors.count, "error")} prohibited this privacy_policy from being saved:"
      %ul
        - @privacy_policy.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :hive_application
    = f.select :hiveapplication_id, options_from_collection_for_select(HiveApplication.all, "id", "app_name", selected: @privacy_policy.hiveapplication_id), {prompt: 'Please select application name' }
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_area :content, style: 'height:500px'
  .actions
    = f.submit 'Save' , class: 'logout'
