#table_list{style:'height:900px;'}
  #table_list_header
    %table{class: "tbl_create_app_container"}
      %tr
        %td{class: "td_btn_container"}
          .btn_back_option_container.button.tiny.warning
            = "<< BACK TO BASIC OPTIONS"
        %td{class: "td_btn_container"}
          .btn_save_additional_field_container.button.tiny.warning{style:'float:right'}
            = "SAVE CHANGES"

      %tr
        %td{class: "td_warning_container", colspan:"2"}
          %table{class: "tbl_warning"}
            %tr
              %td
                .warning_header
                  = "WARNING:"
              %td
                .warning_description
                  = " Changing any of these fields might cause"
            %tr
              %td{colspan:"2"}
                .warning_description
                  = " your application to behave unexpectedly or stop working."
      %tr
        %td{colspan:"2"}
          #additional_field_list_container_topic
            #additional_field_list
              %table
                %tr
                  %td
                    = "ADD/ EDIT TOPIC FIELDS"
                  %td
                    #btn_topic_new_field_container
                      #btn_new_field_btn
                        %img.image{height: "20px", src: "assets/new_app.png", width: "20px"}/
                      #btn_new_field_label
                        = "NEW FIELD"
            #separator_line
            %table{class: "app_list"}
              %tr
                %th
                  ="FIELD NAME"
                %th
                  ="TYPE"
            #list_of_topic_fields_container
              = render :partial => "all_additional_field_list_topic"
      %tr
        %td
          &nbsp;
      %tr
        %td{colspan:"2"}
          #additional_field_list_container_post
            #additional_field_list
              %table
                %tr
                  %td
                    = "ADD/ EDIT POST FIELDS"
                  %td
                    #btn_post_new_field_container
                      #btn_new_field_btn
                        %img.image{height: "20px", src: "assets/new_app.png", width: "20px"}/
                      #btn_new_field_label
                        = "NEW FIELD"
            #separator_line
            %table{class: "app_list", width: "850px"}
              %tr
                %th{width:"85%"}
                  ="FIELD NAME"
                %th{width:"15%"}
                  ="TYPE"
            #list_of_post_fields_container
              = render :partial => "all_additional_field_list_post"