#create_application_form
  = form_for :dev_portal, url: { controller: "hiveapplication", action: "add_application"}, method: "post", id:"createapplication" do |f|
    %table{class: "tbl_create_app_container"}
      %tr
        %td
          %table{class: "tbl_create_app"}
            %tr
              %td{colspan:"2"}
                #dev_portal_header
                  #text_container
                    = "NEW APP"
            %tr
              %td
                #text_container
                  = "APP NAME"
              %td
                #text_container
                  = "TYPE"
            %tr
              %td
                %fieldset
                  = f.text_field :application_name, autofocus: true,  required:true
              %td
                %fieldset
                  = f.select :application_type, options_for_select(HiveApplication.get_application_type), { }
            %tr
              %td
                #text_container
                  = "DESCRIPTION"
                #remain_char_container
                  %label{for: "myalue"}
              %td
                #text_container
                  = "APP ICON"
            %tr
              %td
                %fieldset
                  = f.text_area  :description, required:true ,cols: "50", rows: "15" ,maxlength: "255"
              %td
                %table{width:"100%"}
                  %tr
                    %td{width: "50%"}
                      .upload-preview
                        %img{height: "120px", width: "120px"}
                    %td{width: "50%"}
                      %fieldset
                        #btn_upload_icon
                          .wrapper
                            = f.file_field :application_icon, required:true
                          %button CHOOSE FILE
      %tr
        %td{class: "td_btn_container"}
          = f.submit "CREATE APP", id:"btn_create_app"
      %tr
        %td{colspan:"2"}
          #home_notice
            = flash.now[:notice]

:javascript
  Devportal.init();