-##application_list_container
-#  #application_list
-#    = "MY APPS"
-#
-#  #separator_line
-#  %table{class: "app_list", width: "850px"}
-#    %tr
-#      %th{width:"35%"}
-#        ="APP NAME"
-#      %th{width:"5%"}
-#        ="TYPE"
-#      %th{width:"60%"}
-#        = "API KEY"
-#  #list_of_applications_container
-#    = render :partial => "hiveapplication/all_application_list"
-#
-#  #application_list_footer
-#    %a{:href => hiveapplication_add_application_path, :style => "color: #FFFFFF;text-decoration: none;"}
-#      #app_icon_container
-#        #add_app_icon
-#          #add_app_label
-#            -#= link_to "NEW APP", hiveapplication_add_application_path
-#            = "NEW APP"
-#

-#.row
-#  .large-12.columns
-#    %h5=link_to "User list", hiveapplication_users_path , style:'float:right'


.row{style: "margin: 20px;"}
  .large-centered.large-12.columns
    -if @hive_applications.present?
      %table.tbl_applisting
        %thead
          %tr
            %th{colspan: 5,style: 'text-align:center;border-bottom: 1px solid #fff;'}
              %h4{style:"color:#fff"}MY APPS
          %tr
            %th ICON
            %th NAME
            %th TYPE
            %th API KEY
            %th Action

        %tbody
          - @hive_applications.each do |hive_application|
            %tr
              %td
                %img{ src:hive_application.icon_url, class:"img_app_icon"}
              %td= link_to hive_application.app_name.upcase , hiveapplication_edit_application_path(:app_id=> hive_application.id)
              %td= hive_application.app_type
              %td= hive_application.api_key
              %td
                %span= link_to 'Edit TOPIC/POST', hiveapplication_edit_topic_post_path(:app_id=> hive_application.id)  , :class => 'label warning'
                / %span= link_to "Delete", hiveapplication_delete_application_path(:app_id=> hive_application.id), remote:true
                %span= link_to  'Delete',url_for(action: :delete_application,app_id: hive_application.id),data: {confirm: "Are you sure?"} 
				
				
                -#-if  hive_application.app_name.upcase == "SOCAL"
                -#  =link_to "socal_user", '', :class => 'label warning'
          %tr
            %td{colspan: 5,style: 'text-align:center; font-size: 1.2em; background: orange;'}

              =link_to((image_tag "new_app.png")+' New APP', hiveapplication_add_application_path, style: ' color:#fff' )
    -else
      =link_to('Create New APP', hiveapplication_add_application_path, class:'button tiny warning' ,style:'font-size:16px;')


-if @devusers.present?
  .row
    .large-centered.large-12.columns
      %h3 Developer User List
      %ul.accordion{"data-accordion" => ""}
        -@devusers.each do |user|
          -hive_apps = user.hive_applications.order("id ASC")
          %li.accordion-navigation
            %a{:href => "#"+user.username,style:'background:none !important;border-bottom: 1px solid orange'}
              =user.username
              (#{user.email})

            .content{id:user.username,style:'background:none;'}
              %table.tbl_applisting
                - hive_apps.each do |hive_application|
                  %tr
                    %td
                      %img{ src:hive_application.icon_url, class:"img_app_icon"}
                    %td= link_to hive_application.app_name.upcase , hiveapplication_edit_application_path(:app_id=> hive_application.id)
                    %td= hive_application.app_type
                    %td= hive_application.api_key
                    %td
                      %span= link_to 'Edit TOPIC/POST', hiveapplication_edit_topic_post_path(:app_id=> hive_application.id)  , :class => 'label warning'
                      %span= link_to  'Delete',url_for(action: :delete_application,app_id: hive_application.id),data: {confirm: "Are you sure?"} 


.row
  .columns.large-4.large-centered
    %ul#dashboard_links
      %li=link_to "Create Train Fault Topic/Alert", create_train_fault_alert_path
      %li=link_to "Create Heavy Traffic Alert", sg_accident_histories_path
      -if @cur_user.role == 1
        %li=link_to "User Management", hiveapplication_users_path

      -#
      -#%table.tbl_applisting
      -#  %thead
      -#    %tr
      -#      %th id
      -#      %th User Name
      -#      %th email
      -#  %tbody
      -#    -count = 0
      -#    -@devusers.each do |user|
      -#      %tr
      -#        %td=count = count+1
      -#        %td=link_to user.username
      -#        %td=user.email rescue ''
