#table_columns
  - if @columns.present?
    %table{width:"100%", border:"1"}
      %tr
        %th{width:"15%"}
          ="Column Name"
        %th{width:"15%"}
          ="Type"
      - @columns.each do |c|
        %tr
          %td{width:"15%"}
            = c[0]
          %td{width:"15%"}
            = c[1]

#additional_columns
  = render :partial => "all_additional_columns_from_app"

#create_additional_column_container
  = form_for :AppAdditionalColumn, url: { controller: "hiveapplication", action: "edit_column", method: "post"}, remote:true do |f|
    = f.label "Field Name"
    = f.text_field :additional_column_name
    = f.hidden_field :field_id, value: 0
    = f.hidden_field :app_id, value: params[:app_id]
    = f.hidden_field :table_name, value: params[:table_name]
    = f.submit "Create"

:javascript
  editColumn.init();

