#dev_portal_header
  = "Update Applications"

#create_application_form
  = form_for :dev_portal, url: { controller: "hiveapplication", action: "edit_application"}, method: "post", id:"updateapplication" do |f|
    %fieldset
      = f.hidden_field :application_id, value: @application.id
    %fieldset
      = f.label :application_name, "Application Name: "
      = f.text_field :application_name, autofocus: true,  required:true, value: @application.app_name

    %fieldset
      = f.label :application_type, "Application Type: "
      = f.select :application_type, options_for_select(HiveApplication.get_application_type, selected: @application.app_type), { }

    %fieldset
      = f.label :description, "Description: "
      = f.text_field :description, required:true, value:@application.description

    %fieldset
      = f.label :application_icon, "Application Icon: "
      = f.file_field :application_icon, file: @application.icon_url
    .upload-preview
      %img{height: "60", width: "60",src:@application.icon_url}

    = f.submit "Update Application", id: "btn_edit_application"

  = flash.now[:notice]

:javascript
  Devportal.init();
