.row
  .columns.large-4.large-centered.bg_login
    .login
      %h3 Login to Web App
      = form_for :dev_users, url: { controller: "hiveapplication", action: "sign_in" }, method: "post" do |f|

        %label UserID
        = f.text_field :email, class: "sign_in_input"

        = f.label :password
        = f.password_field :password , autocomplete: "off", class: "sign_in_input"
        = f.submit "Login" , class: 'button tiny warning'  , style:'float:right;margin-top: 10px;margin-bottom: 10px;'
        %br
        .field
          = link_to "Forgot password?", hiveapplication_forget_password_path, style:'color: orange'
          |
          = link_to "Signup", hiveapplication_sign_up_path, style:'color: orange'
        %br
