%h1 Reset Password
= form_for @devuser, :url => hiveapplication_update_password_path(token:params[:token]) , method: "post" do |f|
  - if @devuser.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @devuser.errors.full_messages
          %li= message
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .actions= f.submit "Update Password"