<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <p>
        <!--Thanks <%= @username %> for registering. Your verification code is <strong><a href="http://h1ve-staging.herokuapp.com/verify?email=<%= @email %>&code=<%= @verify[:encoded_verification_code] %>&token=<%= @verify[:iv] %>">link</a></strong>.-->
      Thanks <%= @username %> for registering. Your verification code is <strong><a href= <%= @email %>&code=<%= @verify[:encoded_verification_code] %>&token=<%= @verify[:iv] %>>link</a></strong>.
    </p>
  </body>
</html>
