%h3 THE APIARY
%span.warning.label developer
%br
%span welcome back, #{current_user.username}

-if @hive_applications.present?
  - @hive_applications.each do |app|
    .row{style:'margin-top:30px;margin-bottom:30px;'}
      .columns.large-5{style:"margin-bottom: 30px;"}

        %div{style:'position:relative;width:65px;z-index:111;float:left'}
          .logo_borders{style:"background-color:#{app.theme_color} !important;background:#{app.theme_color} !important"}
            -@app = app
            -if app.api_key == @hive_key
              hv

            -if app.api_key == @socal_key
              sc

            -if app.api_key == @carmmunicate_key
              cm

            -if app.api_key == @meal_key
              mb

            -if app.api_key == @favr_key
              fv

            -if app.api_key == @round_key
              rt

          %svg.logo_svg
            %defs
              %clipPath#logo-clip{:clipPathUnits => "objectBoundingBox"}
                %polygon{:points => "0 0, 1 0, 0 1, 0 1" }

        %div{style:'position:relative;float:left;'}
          .parallelogram.setting{"data-settingid"=>"setting#{@app.id}","data-reveal-id"=>"setting#{@app.id}"}
            =image_tag("hivev2/setting.png")

          %br
          .parallelogram.action_alarm

        %div{style:'position:relative;float:left;'}

          -if app.api_key == @hive_key
            .inner_circle
              #hv_map{"data-apikey"=>"#{app.api_key}"}

          -if app.api_key == @socal_key
            .inner_circle
              #sc_map{"data-apikey"=>"#{app.api_key}"}

          -if app.api_key == @carmmunicate_key
            .inner_circle
              #cm_map{"data-apikey"=>"#{app.api_key}"}

          -if app.api_key == @meal_key
            .inner_circle
              #mb_map{"data-apikey"=>"#{app.api_key}"}

          -if app.api_key == @favr_key
            .inner_circle
              #fv_map{"data-apikey"=>"#{app.api_key}"}

          -if app.api_key == @round_key
            .inner_circle
              #rt_map{"data-apikey"=>"#{app.api_key}"}


      .columns.large-6{style:'margin-left:15px;margin-bottom:30px;'}

        -if app.api_key == @hive_key
          = render 'home/hiveInfo'

        -if app.api_key == @round_key
          = render 'home/roundtripInfo'

        -if app.api_key == @carmmunicate_key
          = render 'home/carmicInfo'

        -if app.api_key == @meal_key
          = render 'home/mealboxInfo'

        -if app.api_key == @favr_key
          = render 'home/favarInfo'

        -if app.api_key == @socal_key
          = render 'home/socalInfo'
      .columns.large-12
        -#.small-6.large-centered.columns
        .footer_app
          application name:
          =app.app_name.upcase
          %br
          api key:
          =app.api_key


      .columns.large-12
        %hr

    .row{style:'margin-top:30px;margin-bottom:30px;'}
      .columns.large-12{style:"margin-bottom: 30px;"}
        .reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog","id"=>"setting#{@app.id}"}
          = render 'home/setting'

:javascript
  Hivemaps.init()
  Devportal.init();