%h3 THE APIARY
%span.warning.label developer
%br
%span welcome back, #{current_user.username}

-if @hive_applications.present?
  - @hive_applications.each do |app|
    .row{style:'margin-top:30px;margin-bottom:30px;'}
      .columns.large-5{style:"margin-bottom: 30px;"}

        %div{style:'position:relative;width:65px;z-index:111;float:left'}
          .parallelogram.app_logo{style:"background-color:#{app.theme_color} !important;background:#{app.theme_color} !important"}
            -@app = app
            =app.app_name[0..1]

          %br
          .parallelogram.setting{"data-settingid"=>"setting#{@app.id}","data-reveal-id"=>"setting#{@app.id}"}
            =image_tag("hivev2/setting.png")

          %br
          .parallelogram.action_alarm

        %div{style:'position:relative;float:left;'}
          .app_map
            %div{"data-apikey"=>"#{app.api_key}", id: "map_#{@app.id}"}


      .columns.large-6{style:'margin-bottom:30px;'}
        = render 'home/appInfo'

      .columns.large-12
        -#.small-6.large-centered.columns
        .footer_app
          application name:
          =app.app_name.upcase
          %br
          api key:
          =app.api_key


      .columns.large-12
        %hr

    .row
      .columns.large-12
        .reveal-modal{"aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => "", :role => "dialog","id"=>"setting#{@app.id}"}
          = render 'home/setting'

:javascript
  Hivemaps.init()
