-if @hive_applications.present?
  - @hive_applications.each do |app|
    -theme_color = app.theme_color


    .row{style:'margin-top:30px;margin-bottom:30px;'}
      .columns.large-5
        %div{style:'position:relative;float:left;width:65px;'}
          .logo_borders{style:"background-color:#{theme_color} !important;background:#{theme_color} !important"}
            =app.app_name

          %svg.logo_svg
            %defs
              %clipPath#logo-clip{:clipPathUnits => "objectBoundingBox"}
                %polygon{:points => "0 0, 1 0, 0 1, 0 1" }

        %div{style:'position:relative;float:left;'}
          .parallelogram{style:'width: 55px;height: 52px;background:orange;;position:relative;margin-left: -5px;'}
          %br
          .parallelogram{style:'width: 55px;height: 52px;background:orange;position:relative;margin-left: -40px;background:rgb(80,227,194)'}

        %div{style:'position:relative;float:left;'}
          .parallelogram{style:'width: 265px;height: 240px;position: relative;margin-left: -50px;'}


      .columns.large-6{style:'margin-left:15px;'}
        -if app.app_name == 'hv'
          = render 'home/hv_users'
          = render 'home/hv_topics'
          = render 'home/hv_location'

        -if app.app_name == 'cm'
          = render 'home/cm_users'
          = render 'home/cm_topics'
          = render 'home/cm_location'

        -if app.app_name == 'mb'
          = render 'home/mb_users'
          = render 'home/mb_topics'
          = render 'home/mb_location'

        -if app.app_name == 'fv'
          = render 'home/fv_users'
          = render 'home/fv_topics'
          = render 'home/fv_location'

        -if app.app_name == 'sc'
          = render 'home/sc_users'
          = render 'home/sc_topics'
          = render 'home/sc_location'
      .columns.large-12
        %hr
:javascript
  //var map = new ol.Map({
  //  target: 'map_1',
  //  layers: [
  //    new ol.layer.Tile({
  //      source: new ol.source.MapQuest({layer: 'sat'})
  //    })
  //  ],
  //  view: new ol.View({
  //    center: ol.proj.fromLonLat([37.41, 8.82]),
  //    zoom: 4
  //  })
  //});
  //
  //var map = new ol.Map({
  //  target: 'map_2',
  //  layers: [
  //    new ol.layer.Tile({
  //      source: new ol.source.MapQuest({layer: 'sat'})
  //    })
  //  ],
  //  view: new ol.View({
  //    center: ol.proj.fromLonLat([37.41, 8.82]),
  //    zoom: 4
  //  })
  //});
  //
  //var map = new ol.Map({
  //  target: 'map_3',
  //  layers: [
  //    new ol.layer.Tile({
  //      source: new ol.source.MapQuest({layer: 'sat'})
  //    })
  //  ],
  //  view: new ol.View({
  //    center: ol.proj.fromLonLat([37.41, 8.82]),
  //    zoom: 4
  //  })
  //});
  //
  //var map = new ol.Map({
  //  target: 'map_4',
  //  layers: [
  //    new ol.layer.Tile({
  //      source: new ol.source.MapQuest({layer: 'sat'})
  //    })
  //  ],
  //  view: new ol.View({
  //    center: ol.proj.fromLonLat([37.41, 8.82]),
  //    zoom: 4
  //  })
  //});
  //
  //var map = new ol.Map({
  //  target: 'map_5',
  //  layers: [
  //    new ol.layer.Tile({
  //      source: new ol.source.MapQuest({layer: 'sat'})
  //    })
  //  ],
  //  view: new ol.View({
  //    center: ol.proj.fromLonLat([37.41, 8.82]),
  //    zoom: 4
  //  })
  //});

  //var map = new ol.Map({
-#    target: 'map_6',
-#    layers: [
-#      new ol.layer.Tile({
-#        source: new ol.source.MapQuest({layer: 'sat'})
-#      })
-#    ],
-#    view: new ol.View({
-#      center: ol.proj.fromLonLat([37.41, 8.82]),
-#      zoom: 4
-#    })
-#  });

