= form_for @sg_accident_history do |f|
  - if @sg_accident_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sg_accident_history.errors.count, "error")} prohibited this sg_accident_history from being saved:"
      %ul
        - @sg_accident_history.errors.full_messages.each do |msg|
          %li= msg

  .row
    -#.large-4.columns
    -#  = f.label :type
    -#  = f.text_field :type
    .large-12.columns
      = f.label :message
      = f.text_area :message
    -#.large-4.columns
    -#  = f.label :accident_datetime
    -#  = f.datetime_select :accident_datetime
  .row
    .large-4.columns
      = f.label :latitude
      = f.text_field :latitude
    .large-4.columns
      = f.label :longitude
      = f.text_field :longitude
    .large-4.columns
      &nbsp;
  .row
    .large-12.columns
      = f.label :summary
      = f.text_area :summary
    -#.field
    -#  = f.label :notify
    -#  = f.check_box :notify
    -#%div{:style => "width: 800px; height: 400px;border:1px solid"}
    -#  #trafficmap{:style => "width: 800px; height: 400px;"}
  .row
    .large-12.columns
      .actions
        = f.submit 'Save'

-#:javascript
-#  Traffic.init();
