!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title
      = content_for?(:title) ? yield(:title) : 'Hive'
      = include_gon

    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Hive'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation

    = csrf_meta_tags
    %script{src: "https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", type: "text/javascript"}
    %script{src: "https://google-maps-utility-library-v3.googlecode.com/svn-history/r293/trunk/richmarker/src/richmarker.js", type: "text/javascript" }
    = javascript_include_tag "web"
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag   "web"
  %body
    #main_background
      %header
        = render 'layouts/navigation'
        -#%h3{style:'color: orange; margin-left:20px;'}
        -#  = session[:no_of_apps].to_s + " CONNECTED APPS"

      %main{role: "main"}
        = render 'layouts/messages'
        = yield
      #map_content

:javascript
   var mapOptions = {
      zoom: 18,
      center: new google.maps.LatLng(1.317907,103.843643),
      disableDefaultUI: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      scrollwheel: false,
      navigationControl: false,
      mapTypeControl: false,
      scaleControl: false,
      draggable: false,
    }
    var map1 = new google.maps.Map(document.getElementById("map_content"), mapOptions);