!!!
%html
  %head
    %title Hive
    = include_gon
    = stylesheet_link_tag   "web"
    = javascript_include_tag "web"

    = csrf_meta_tags
    -#%meta{:content => "width=1024, initial-scale=0, maximum-scale=1.0, minimum-scale=0.25, user-scalable=yes", :name => "viewport"}/

  %body
    = javascript_tag do
      PUSHER_KEY = "#{Pusher.key}";
    = javascript_include_tag "web", "http://js.pusher.com/1.11/pusher.min.js"
    #main_background
      .container
        = render "hiveapplication/web_header"
        = yield
