!!!
%html
  %head
    %title Hive
    = include_gon
    = stylesheet_link_tag   "mobile"
    = javascript_include_tag "mobile"

    = csrf_meta_tags
    -#%meta{:content => "width=1024, initial-scale=0, maximum-scale=1.0, minimum-scale=0.25, user-scalable=yes", :name => "viewport"}/

  %body
    #main_background
      .container
        = render "hiveapplication/web_header"
        = yield
