!!!
%html
  %head
    %title Hive
    = include_gon
    = stylesheet_link_tag   "web"
    = javascript_include_tag "web"

    = csrf_meta_tags
    -#%meta{:content => "width=1024, initial-scale=0, maximum-scale=1.0, minimum-scale=0.25, user-scalable=yes", :name => "viewport"}/

  %body
    = javascript_tag do
      PUSHER_KEY = "#{Pusher.key}";
    = javascript_include_tag "http://js.pusher.com/1.11/pusher.min.js"
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
    #main_background
      .container
        = render "hiveapplication/web_header"
        = yield
