!!!
%html
  %head
    = favicon_link_tag 'fav.ico'
    %meta{:name => "viewport", :content => "width=device-width, height=device-height, initial-scale=1"}
    %title
      = content_for?(:title) ? yield(:title) : 'Hive'
      = include_gon

    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Hive'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation

    = csrf_meta_tags
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCmCjZVJvI5h2Qg7XcdI9jTFjyK-IgzyQk&libraries=places", type: "text/javascript"}
    -#%script{src: "https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places", type: "text/javascript"}

    %script{src: "http://googlemaps.github.io/js-marker-clusterer/src/markerclusterer.js"}
    %script{src: "http://googlemaps.github.io/js-rich-marker/src/richmarker.js"}
    %script{src: "http://googlemaps.github.io/js-info-bubble/src/infobubble.js"}

    -#%link{:href => "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}
    %script{:src => "//code.jquery.com/jquery-1.10.2.js"}
    %script{:src => "//code.jquery.com/ui/1.11.4/jquery-ui.js"}

    %script{:src => "http://www.onemap.sg/API/JS/?accessKEY=20hJb9BMPUIBzwyZ1/m6fMK3ioaM+fzdwNpdOdYO0fCICsxRJI4527+gtsuFoVcrKIXAldas3XhtX2E0ZfaJtN0EfoFrJamMpsmC0dhopDEUQblJMXSdcA==|mv73ZvjFcSo=", :type => "text/JavaScript"}

    = javascript_include_tag "web"
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag   "web"
  %body

    #main_background
      %header
        = render 'layouts/navigation'
        -#%h3{style:'color: orange; margin-left:20px;'}
        -#  = session[:no_of_apps].to_s + " CONNECTED APPS"

      %main{role: "main"}
        = render 'layouts/messages'

        .row
          .large-12.columns
            = yield
      -##map_content
-#
-#:javascript
-#   var mapOptions = {
-#      zoom: 18,
-#      center: new google.maps.LatLng(1.317907,103.843643),
-#      disableDefaultUI: true,
-#      mapTypeId: google.maps.MapTypeId.ROADMAP,
-#      scrollwheel: false,
-#      navigationControl: false,
-#      mapTypeControl: false,
-#      scaleControl: false,
-#      draggable: false,
-#    }
-#    var map1 = new google.maps.Map(document.getElementById("map_content"), mapOptions);