!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, height=device-height, initial-scale=1"}
    %title Hive
    = include_gon
    = stylesheet_link_tag   "hivev2"
    = javascript_include_tag "hivev2"

    = csrf_meta_tags
    %link{:href => "http://openlayers.org/en/v3.14.2/css/ol.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
    -#%script{:src => "http://openlayers.org/en/v3.14.2/build/ol.js"}
    %script{:src => "http://www.openlayers.org/api/OpenLayers.js"}

  %body
    .container
      .header{style:'height:60px;'}
      .row
        .large-12.columns
          = yield
