!!!
%html
  %head
    %title Hive
    = include_gon
    = stylesheet_link_tag   "hivev2"
    = javascript_include_tag "hivev2"

    = csrf_meta_tags
    %link{:href => "http://openlayers.org/en/v3.14.2/css/ol.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://openlayers.org/en/v3.14.2/build/ol.js"}

  %body
    .container
      .header{style:'height:60px;'}
      .row
        .large-12.columns
          = yield
